<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Part1</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartController</servlet-name>
    <servlet-class>Controller.CartController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductListController</servlet-name>
    <servlet-class>productscontroller.ProductListController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShoppingCartController</servlet-name>
    <servlet-class>com.controller.ShoppingCartController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckoutController</servlet-name>
    <servlet-class>com.controller.CheckoutController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>com.controller.PaymentController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckoutRegisterController</servlet-name>
    <servlet-class>com.controller.CheckoutRegisterController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductsDetailsController</servlet-name>
    <servlet-class>productscontroller.ProductsDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/CartController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductListController</servlet-name>
    <url-pattern>/ProductListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCartController</servlet-name>
    <url-pattern>/ShoppingCartController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckoutController</servlet-name>
    <url-pattern>/CheckoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckoutRegisterController</servlet-name>
    <url-pattern>/CheckoutRegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductsDetailsController</servlet-name>
    <url-pattern>/ProductsDetailsController</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Entire Application</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.controller.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>